@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.wrapper {

    width: 100vw;
    height: 100vh;
    background-color: #6682db;
    color: aliceblue;

}

.Menu {

    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.Iniciales span {
    color: rgb(118, 217, 226);

}

.ListaMenu {

    display: flex;
    width: 50%;
    justify-content: space-around;

}

.ListaMenu li {

    list-style: none;
}

.ListaMenu a {

    color: rgb(118, 217, 226);
    text-decoration: none;
}

.main {

    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.main img {

    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 5px solid rgb(118, 217, 226);
}